.open-page{
	padding-top: 100px;
	background-color: $backgrayopen;
	.open-text-box{
		text-align: center;
		padding-top: 130px;
		padding-bottom:100px;
		opacity: 0;
		h1{
			color:$bluetext;
			//@include roboto(700, 70px);
			//padding-bottom: 5px;
		}
		h4{
			color:$graytext;
			//@include roboto(100, 36px);
		}
	}

	.open-button-box{
		text-align: center;
		padding-bottom: 30px;
		a:hover, a:visited{
			color:#fff;
		}
	}

	.open-macbook-box{
		//background-color: rgba(0,0,0,0.5);
		padding-top: 50px;
		.macbook-bg{
			width: 1200px;
			position: absolute;
			padding-top: 30px;
			img{
				position: relative;
				opacity: 0;
				&:first-child{
					left:-50px;
				}
				&:last-child{
					right:-70px;
					float: right;
				}
			}
		    @media (max-width: 1200px){
		    	display: none;
		    }
		}
		.macbook-container{
			>img{
				position: relative;
				z-index: 10;
			}
			position: relative;
			text-align: center;
			// width: 84%;
			// height:700px;
			// margin:auto;
			// background:{
			// 	image:url('../../images/macbook.png');
			// 	position: top center;
			// 	repeat:no-repeat;
			// 	size: 100%;
			// }
			.video-section{
				width: 719px;
				height: 448px;
				background-color: #000;
				position: absolute;
				top: 57px;
				left: 240px;
				overflow: hidden;
				z-index: 20;
				div{
					position: static;
				}
			    @media (max-width: 1200px){
					width: 71.4%;
					height: 74%;
					position: absolute;
					top: 9%;
					left: 14.2%;
			    }
			}
		}
	}
	//media query
	@media (max-width: 960px){
		padding-top: 70px;
		.open-text-box{
			h1{
				//color:$bluetext;
				@include roboto(700, 50px);
				padding-bottom: 5px;
			}
			h4{
				//color:$graytext;
				@include roboto(100, 18px);
			}
		}
	}
	@media (max-width: 665px){
		padding-top: 40px;
		.open-macbook-box{
			display: none;
		}
		.open-text-box{
			padding-bottom:80px;
			h1{
				//color:$bluetext;
				@include roboto(700, 30px);
				padding-bottom: 5px;
			}
			h4{
				//color:$graytext;
				@include roboto(300, 16px);
			}
		}
	}
}

.open-button-box{
	text-align: center;
}

.open-text-box{
	text-align: center;
	opacity: 0;
	h1{
		@include roboto(700, 70px);
		padding-bottom: 5px;
	}
	h4{
		@include roboto(300, 36px);
	}

	@media (max-width: 960px){
		h1{
			@include roboto(700, 50px);
			padding-bottom: 5px;
		}
		h4{
			@include roboto(100, 24px);
		}
	}
	@media (max-width: 665px){
		h1{
			//color:$bluetext;
			@include roboto(700, 30px);
			padding-bottom: 5px;
		}
		h4{
			//color:$graytext;
			@include roboto(300, 16px);
		}
	}
}
