.opinion{
	background-color: #fff;
	overflow: hidden;
	.opinion-box{
		position: relative;
		display: table;
		.slide{
			//position: relative;
			width: 100%;
			height: 300px;
			li{
				text-align: center;
				position: absolute;
				width: 100%;
				display: none;
				>.img-box{

				}
				.opinion{
					color:$graytext;
					@include roboto(100, 24px);
					font-style: italic;
					width: 600px;
					margin: auto;
					background-color: transparent;
					.opinion-w{
						font-style: normal;
						@include roboto(100, 16px);
						padding-top:30px;
						a{
							text-decoration: underline;
							color:$graytext;
						} 
					}
					@media (max-width: 665px){
				    	width: 90%;
				    	@include roboto(100, 18px);
				    }
				}
				&.active{
					display: block;
				}
			}
		}
		.slide-nav{
			width: 100%;
			position: absolute;
			bottom:-30px;
			text-align: center;
			li{
				width: 20px;
				height: 20px;
				margin:3px;
				border:1px solid $slideNavColor;
				display: inline-block;
				border-radius: 50%;
				position: relative;
				&.active span, &:hover span{
					width: 12px;
				    height: 12px;
				    background: $graytext;
				    left: 3px;	
				    top: 3px;
				}
				span{
					width: 1px;
				    height: 1px;
				    background: #fff;
				    display: block;
				    position: absolute;
				    top: 9px;
				    left: 9px;
				    border-radius: 50%;
				    transition:all .2s linear;
				    cursor: pointer;
				}
			}
			@media (max-width: 665px){
		    	display: none;
		    }
		}
	}
}

.button-slide{
	outline:none;
	position: absolute;
	margin: 0;
	top:40%;
	width:70px;
	height:70px;
	font-size: 40px;
	color:$graytext;
	//text-align: center;
	line-height: 70px;
	border-radius: 50%;
	border:1px solid $slideNavColor;
	i{
		line-height: 0;
		margin: auto;
	}
	@media (max-width: 665px){
    	display: none;
    }
}

.button-next{
	right: 0;
}