
$grayline: #E5E6EB;
$bordernav:#9EABBC;
$graytext:#5D6880;
$backgray:#EEEFF1;
$backgrayopen:#FCFEFD;
$slideNavColor:#E4E7EC;

$bluetext:#0C3EA4;
$lbludetext:#4F81BE;

$redButton:#FF0045;

$logoFontSize:36px;
$navFontSize:20px;
$standardTextSize:14px;
$openTextSize:42px;

//960

$logoFontSize960:26px;
$navFontSize960:16px;
$standardTextSize960:14px;
$openTextSize960:36px;

//665

$logoFontSize665:20px;
$navFontSize665:20px;
$standardTextSize665:14px;
$openTextSize665:42px;